<p>party-list works!</p>

<ng-container *ngFor="let party of partyList$ | async as Party">


<!-- Path: src\app\parties\list\party-list\party-list.component.ts -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 class="title">{{ party.name }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Status: {{ party.status }}</p>
    <p>date: {{ party.dateBegin }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">View</button>
  </mat-card-actions>
</mat-card>

</ng-container>
