<span class="pi-cmp__label">Created by</span>

<div class="flex">
  <div class="flex__l">
    <ng-container *ngIf="user as user; else noUser">
      <span class="party-created-by__name mat-body-2"> {{ user.firstname }} {{ user.lastname }} </span>
      <pi-follow-btn>
      </pi-follow-btn>
       </ng-container>
     <ng-template #noUser>
       No Creator
     </ng-template>
  </div>
  <div class="flex__r">
    <div class="avatar">
      <ng-container *ngIf="user && user.picture; else noPicture">
        <img [src]="user.picture" alt="">
      </ng-container>
      <ng-template #noPicture>
        x
        <!-- <mat-icon>person</mat-icon> -->
      </ng-template>
    </div>
  </div>
</div>

