/* You can add global styles to this file, and also import other style files */


@use "@angular/material" as mat;


@import '~@angular/material/theming';

@import './app/party/party-title/party-title.component';


@include mat.core();




$pi-primary: mat.define-palette(mat.$deep-purple-palette);
$pi-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);
$pi-warn: mat.define-palette(mat.$red-palette);

$pi-theme: mat.define-light-theme(
  (
    color: (
      primary: $pi-primary,
      accent: $pi-accent,
      warn: $pi-warn,
    ),
  )
);

$pi-typography-config: mat.define-typography-config(
  $headline:      mat.define-typography-level(48px, 52px, 600),
  $title:         mat.define-typography-level(32px, 36px, 600),
  $subheading-2:  mat.define-typography-level(28px, 32px, 600),
  $body-1:        mat.define-typography-level(16px, 18px, 300),
  $caption:        mat.define-typography-level(14px, 18px, 300)
);

@include mat.all-component-typographies($pi-typography-config);
@include mat.all-component-themes($pi-theme);




@include party-title($pi-theme);





html, body { height: 100%; }


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.pi-cmp__label {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
}
