
@use 'sass:map';
@use '@angular/material' as mat;

@import '~@angular/material/theming';

:host {
  display: block;
}

@mixin party-address($theme) {
  $primary-palette: map.get($theme, primary);
  $primary-color: mat-color($primary-palette, 300);

  .pi-party-address {
    margin-bottom: $default-thickness*2;
    padding-right: $default-thickness*2;

    .mat-h2{
      color: $pi-text-color-dark;
      margin: 0 0 $default-thickness*.5 0;
    }

    .mat-body-2 {
      color: $pi-text-color-light;
      font-weight: normal;
    }
  }
}
